name: Nacos Lifecycle

on: [push, pull_request, workflow_dispatch]

env:
  #nacos-server's version
  NACOS_BINARY_URL: https://github.com/alibaba/nacos/releases/download/2.0.3/nacos-server-2.0.3.tar.gz

jobs:
  nacos-lifecycle-ubuntu:
    runs-on: ubuntu-18.04
    steps:
      - name: "nacos lifecycle ubuntu"
        run: |
          mkdir -p nacos
          wget -O nacos/nacos-server.tar.gz -c -N --tries=3 --show-progress ${{ env.NACOS_BINARY_URL }}
          mkdir -p nacos/8848
          tar -zxvf nacos/nacos-server.tar.gz -C nacos/8848
          ./nacos/8848/nacos/bin/startup.sh -m standalone
          sleep 30s
          cat nacos/8848/nacos/logs/start.out
          mkdir -p nacos/8850
          tar -zxvf nacos/nacos-server.tar.gz -C nacos/8850
          sed -i "s#^server.port=.*#server.port=8850#g" nacos/8850/nacos/conf/application.properties
          ./nacos/8850/nacos/bin/startup.sh -m standalone
          sleep 30s
          cat nacos/8850/nacos/logs/start.out
          ./nacos/8848/nacos/bin/shutdown.sh
          sleep 10s
          ./nacos/8850/nacos/bin/shutdown.sh
          sleep 10s
          
  nacos-lifecycle-windows:
    runs-on: windows-2019
    steps:
      - name: "nacos lifecycle windows"
        run: |
          mkdir -p nacos
          $client = new-object System.Net.WebClient
          $client.DownloadFile('${{ env.NACOS_BINARY_URL }}', 'nacos/nacos-server.tar.gz')
          mkdir -p nacos/8848
          tar -zxvf nacos/nacos-server.tar.gz -C nacos/8848
          Get-ChildItem -Path nacos/8848 -Force
          Invoke-Item nacos/8848/nacos/bin/startup.cmd
          Start-Sleep -s 30
          Get-Content nacos/8848/nacos/logs/start.out
          mkdir -p nacos/8850
          tar -zxvf nacos/nacos-server.tar.gz -C nacos/8850
          sed -i "s#^server.port=.*#server.port=8850#g" nacos/8850/nacos/conf/application.properties
          ./nacos/8850/nacos/bin/startup.sh -m standalone
          sleep 30s
          cat nacos/8850/nacos/logs/start.out
          ./nacos/8848/nacos/bin/shutdown.sh
          sleep 10s
          ./nacos/8850/nacos/bin/shutdown.sh
          sleep 10s