name: Nacos Lifecycle

on: [push, pull_request, workflow_dispatch]

env:
  #nacos-server's version
  NACOS_BINARY_URL: https://github.com/alibaba/nacos/releases/download/2.0.3/nacos-server-2.0.3.tar.gz

jobs:
  setup:
    runs-on: ubuntu-18.04
    steps:
      - name: "Setup the environment"
        run: |
          sudo apt-get install rar
          sudo apt-get install unrar
          sudo apt-get install wget

  download:
    needs: [setup]
    runs-on: ubuntu-18.04
    steps:
      - name: "Download nacos-server"
        run: |
          mkdir -p /nacos
          wget -O /nacos/nacos-server.tar.gz -c -N --tries=3 --show-progress $NACOS_BINARY_URL
          ls /nacos
  
  unpack:
    needs: [download]
    runs-on: ubuntu-18.04
    steps:
      - name: "Unpack nacos-server"
        run: |
          mkdir -p /nacos/8848
          ls /nacos
          tar -xzvf /nacos/nacos-server.tar.gz /nacos/8848
          ls /nacos/8848
          mkdir -p /nacos/8850
          ls /nacos
          tar -xzvf /nacos/nacos-server.tar.gz /nacos/8850
          ls /nacos/8850
  
  startup:
    needs: [unpack]
    runs-on: ubuntu-18.04
    steps:
      - name: "Startup nacos-server"
        run: |
          ls /nacos/8848
          sh /nacos/8848/nacos/bin/startup.sh -Dnacos.standalone=true -Dserver.port=8848
          ls /nacos/8850
          sh /nacos/8850/nacos/bin/startup.sh -Dnacos.standalone=true -Dserver.port=8850
  
  shutdown:
    needs: [startup]
    runs-on: ubuntu-18.04
    steps:
      - name: "Shutdown nacos-server"
        run: |
          ls /nacos/8848
          sh /nacos/8848/nacos/bin/shutdown.sh
          ls /nacos/8850
          sh /nacos/8850/nacos/bin/shutdown.sh