name: Nacos Lifecycle

on: [push, pull_request, workflow_dispatch]

env:
  #nacos-server's version
  NACOS_BINARY_URL: https://github.com/alibaba/nacos/releases/download/2.0.3/nacos-server-2.0.3.tar.gz

jobs:
  setup:
    runs-on: ubuntu-18.04
    steps:
      - name: "Setup the environment"
        run: |
          sudo apt-get install rar
          sudo apt-get install unrar
          sudo apt-get install wget

  startup:
    needs: [setup]
    runs-on: ubuntu-18.04
    steps:
      - name: "Download nacos-server"
        run: |
          mkdir -p ~/nacos
          wget -O ~/nacos/nacos-server.tar.gz -c -N --tries=3 --show-progress $NACOS_BINARY_URL
          mkdir -p ~/nacos/8848
          tar -zxvf ~/nacos/nacos-server.tar.gz -C ~/nacos/8848
          sh ~/nacos/8848/nacos/bin/startup.sh -m standalone
          mkdir -p ~/nacos/8850
          tar -zxvf ~/nacos/nacos-server.tar.gz -C ~/nacos/8850
          sed -i "s#^server.port=.*#server.port=8850#g" ~/nacos/8850/nacos/conf/application.properties
          sh ~/nacos/8850/nacos/bin/startup.sh -m standalone
          echo "ls /"
          ls /
          echo "ls ~"
          ls ~
          echo "ls nacos"

  shutdown:
    needs: [startup]
    runs-on: ubuntu-18.04
    steps:
      - name: "Shutdown nacos-server"
        run: |
          echo "ls /"
          ls /
          echo "ls ~"
          ls ~
          echo "ls nacos"
          ls ~/nacos
          ls ~/nacos/8848
          sh ~/nacos/8848/nacos/bin/shutdown.sh
          ls ~/nacos/8850
          sh ~/nacos/8850/nacos/bin/shutdown.sh