name: Nacos Lifecycle

on: [push, pull_request, workflow_dispatch]

env:
  #nacos-server's version
  NACOS_VERSION: 2.0.3
  NACOS_BINARY_URL: https://github.com/alibaba/nacos/releases/download/${NACOS_VERSION}/nacos-server-${NACOS_VERSION}.tar.gz

jobs:
  download-nacos:
    runs-on: ubuntu-18.04
    steps:
      - name: "Download Nacos"
        run: |
          mkdir -p nacos
          wget -O nacos/nacos-server.tar.gz -c -N --tries=3 --show-progress $NACOS_BINARY_URL
          ls nacos
  unpack-nacos:
    runs-on: ubuntu-18.04
    setps:
      - name: "Unpack Nacos"
        run: |
          mkdir -p nacos/8848 nacos/8850
          tar -xzvf nacos/nacos-server.tar.gz nacos/8848
          ls nacos/8848
          tar -xzvf nacos/nacos-server.tar.gz nacos/8850
          ls nacos/8850
  startup-nacos:
    runs-on: ubuntu-18.04
    setps:
      - name: "Startup Nacos server with 8848"
        run: ./nacos/8848/nacos/bin/startup.sh -Dnacos.standalone=true -Dserver.port=8848
      - name: "Startup Nacos server with 8850"
        run: ./nacos/8850/nacos/bin/startup.sh -Dnacos.standalone=true -Dserver.port=8850
  shutdown-nacos:
    runs-on: ubuntu-18.04
    steps:
      - name: "Shutdown Nacos server with 8848"
        run: ./nacos/8848/nacos/bin/shutdown.sh
      - name: "Shutdown Nacos server with 8850"
        run: ./nacos/8850/nacos/bin/shutdown.sh