name: Nacos Lifecycle

on: [push, pull_request, workflow_dispatch]

env:
  #nacos-server's version
  NACOS_BINARY_URL: https://github.com/alibaba/nacos/releases/download/2.0.3/nacos-server-2.0.3.tar.gz

jobs:
  setup:
    runs-on: ubuntu-18.04
    steps:
      - name: "Setup the environment"
        run: |
          sudo apt-get install rar
          sudo apt-get install unrar
          sudo apt-get install wget

  download:
    needs: [setup]
    runs-on: ubuntu-18.04
    steps:
      - name: "Download nacos-server"
        run: |
          mkdir -p ${{ github.workspace }}/nacos
          wget -O ${{ github.workspace }}/nacos/nacos-server.tar.gz -c -N --tries=3 --show-progress $NACOS_BINARY_URL
          ls ${{ github.workspace }}/nacos
  
  unpack:
    needs: [download]
    runs-on: ubuntu-18.04
    steps:
      - name: "Unpack nacos-server"
        run: |
          mkdir -p ${{ github.workspace }}/nacos/8848
          tar -xzvf ${{ github.workspace }}/nacos/nacos-server.tar.gz -C ${{ github.workspace }}/nacos/8848
          ls ${{ github.workspace }}/nacos/8848
          mkdir -p ${{ github.workspace }}/nacos/8850
          tar -xzvf ${{ github.workspace }}/nacos/nacos-server.tar.gz -C ${{ github.workspace }}/nacos/8850
          ls ${{ github.workspace }}/nacos/8850
  
  startup:
    needs: [unpack]
    runs-on: ubuntu-18.04
    steps:
      - name: "Startup nacos-server"
        run: |
          sh ${{ github.workspace }}/nacos/8848/nacos/bin/startup.sh -Dnacos.standalone=true -Dserver.port=8848
          sh ${{ github.workspace }}/nacos/8850/nacos/bin/startup.sh -Dnacos.standalone=true -Dserver.port=8850
  
  shutdown:
    needs: [startup]
    runs-on: ubuntu-18.04
    steps:
      - name: "Shutdown nacos-server"
        run: |
          sh ${{ github.workspace }}/nacos/8848/nacos/bin/shutdown.sh
          sh ${{ github.workspace }}/nacos/8850/nacos/bin/shutdown.sh